<div class="container">

  <div row>
    <div class="col-sm-6">
      <h2><strong><%= t "products.index.category" %>:</strong> <%= @category.send("name_" + "#{I18n.locale}") %></h2>
    </div>
  </div>


</div>